.post {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px 20px;
    border: 1px #eaeaea solid;
    font-size: 14px;
}

.post:after{
    content: "- DONE -";
    display: block;
    color: #ccc;
    text-align: center;
    margin-top: 35px;
    margin-bottom: -45px;
}

.post .u-loading {
    text-align: center;
}

.post .u-title {
    margin: -15px -20px 15px;
    padding: 0 20px 15px;
    border-bottom: 1px solid #eaeaea;
}

.post .u-return-btn {
    position: fixed;
    bottom: 15px;
    right: 20px;
    padding: 5px 15px;
    color: white;
    background-color: #2b2b2b;
    border-radius: 3px;
    font-size: 12px;
}

.post pre {
    background-color: #fafafa;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    font-size: 14px;
    line-height: 1.5;
}

.post code {
    font-family: Consolas,"Microsoft YaHei UI",sans-serif;
}
